<div id="header" class="navbar navbar-fixed-top">
    <div id="web-logo">
        <a href="/"><img src="" alt="网站LOGO图标" /></a>
    </div>
    <div class="navbar-menu padding-left-150">
        <div class="navbar-container">
            <ul class="ul-list-style-none">
                <li class="menus active">排名查询</li>
                <li class="menus">直通车</li>
                <li>搜索推荐词</li>
                <li>商品监控</li>
                <li>商品搬家</li>
                <li>进店流量</li>
            </ul>
        </div>
    </div>
    <div class="navbar-menu-sub padding-left-150">
        <div class="navbar-container">
            <ul class="ul-list-style-none active">
                <li><a href="/">类目排名</a></li>
                <li><a href="/">关键词排名</a></li>
                <li><a href="/">9.9排名</a></li>
                <li><a href="/">全店排名</a></li>
            </ul>
            <ul class="ul-list-style-none">
                <li><a href="/">直通车监控</a></li>
                <li><a href="/">搜索直通车</a></li>
                <li><a href="/">类目直通车</a></li>
            </ul>
        </div>
    </div>
</div>